<include file="Common/header" />
    <form method="post" action="" id="ctl01">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="page-title">我的团队订单 <small>My Team Orders</small> </h3>
                        <ul class="breadcrumb">
                            <li><i class="icon-home"></i><a href="/">Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">我的团队订单</a></li>
                        </ul>
                    </div>
                </div>

                <div class="portlet-body flip-scroll">
                    <input type="hidden" name="ctl00$ContentPlaceHolder1$HDUserName" id="ContentPlaceHolder1_HDUserName" value="admin" />
                    <div>
                        <table class="table table-hover table-bordered flip-content  table-full-width" cellspacing="0" id="ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
                            <tr>
                                <th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$RowNum&#39;)">编号</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$HelperID&#39;)">会员</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$HelperName&#39;)">昵称</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$Quantity&#39;)">提供金额</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$Status&#39;)">匹配状态</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$ConfirmStatus&#39;)">确认状态</a></th><th scope="col"><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Sort$HelpTime&#39;)">提供时间</a></th>
                            </tr><tr class="sorting">
                            <td>1</td><td>zz</td><td>zz</td><td>100</td><td>匹配成功</td><td>已付款</td><td>2016-4-21 13:07:28</td>
                        </tr><tr class="sorting">
                            <td>2</td><td>zz</td><td>zz</td><td>900</td><td>等待中</td><td>待付款</td><td>2016-4-21 13:07:28</td>
                        </tr><tr class="sorting">
                            <td>3</td><td>zyy1113</td><td>媛</td><td>200</td><td>匹配成功</td><td>待付款</td><td>2016-4-19 17:53:16</td>
                        </tr><tr class="sorting">
                            <td>4</td><td>zyy1113</td><td>媛</td><td>1800</td><td>等待中</td><td>待付款</td><td>2016-4-19 17:53:16</td>
                        </tr><tr class="sorting">
                            <td>5</td><td>zy4487</td><td>玛丽媛</td><td>100</td><td>匹配成功</td><td>待付款</td><td>2016-4-19 15:05:35</td>
                        </tr><tr class="sorting">
                            <td>6</td><td>zy4487</td><td>玛丽媛</td><td>900</td><td>等待中</td><td>待付款</td><td>2016-4-19 15:05:35</td>
                        </tr><tr class="sorting">
                            <td>7</td><td>wzh2008</td><td>王厚年</td><td>500</td><td>匹配成功</td><td>已收款</td><td>2016-4-19 8:24:00</td>
                        </tr><tr class="sorting">
                            <td>8</td><td>wzh2008</td><td>王厚年</td><td>4500</td><td>等待中</td><td>待付款</td><td>2016-4-19 8:24:00</td>
                        </tr><tr class="sorting">
                            <td>9</td><td>Luckymo</td><td>玛丽</td><td>1000</td><td>匹配成功</td><td>已收款</td><td>2016-4-18 1:56:36</td>
                        </tr><tr class="sorting">
                            <td>10</td><td>Luckymo</td><td>玛丽</td><td>9000</td><td>等待中</td><td>待付款</td><td>2016-4-18 1:56:36</td>
                        </tr><tr>
                            <td colspan="7"><table>
                                <tr>
                                    <td><span>1</span></td><td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Page$2&#39;)">2</a></td><td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$GridView1&#39;,&#39;Page$3&#39;)">3</a></td>
                                </tr>
                            </table></td>
                        </tr>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </form>
    <include file="Common/foot" />
