html,body,div,span,applet,object,iframe,h1,h2,h3,.callout .callout-heading,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,blockquote {
	quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

.clearfix,.dl-horizontal,.row,.columns,.wrapper,.input-picker .ws-picker-body,.input-picker .ws-button-row,.input-picker .picker-grid,.input-picker .picker-list,.footer-nav,.modal-header,.modal-content,.modal-footer,.modal-body-section,.table-meta,.mod-row,.mod-toolbar,.card__toolbar {
	*zoom: 1
}

.clearfix:before,.dl-horizontal:before,.row:before,.columns:before,.wrapper:before,.input-picker .ws-picker-body:before,.input-picker .ws-button-row:before,.input-picker .picker-grid:before,.input-picker .picker-list:before,.footer-nav:before,.modal-header:before,.modal-content:before,.modal-footer:before,.modal-body-section:before,.table-meta:before,.mod-row:before,.mod-toolbar:before,.card__toolbar:before,.clearfix:after,.dl-horizontal:after,.row:after,.columns:after,.wrapper:after,.input-picker .ws-picker-body:after,.input-picker .ws-button-row:after,.input-picker .picker-grid:after,.input-picker .picker-list:after,.footer-nav:after,.modal-header:after,.modal-content:after,.modal-footer:after,.modal-body-section:after,.table-meta:after,.mod-row:after,.mod-toolbar:after,.card__toolbar:after {
	content: '';
	display: table
}

.clearfix:after,.dl-horizontal:after,.row:after,.columns:after,.wrapper:after,.input-picker .ws-picker-body:after,.input-picker .ws-button-row:after,.input-picker .picker-grid:after,.input-picker .picker-list:after,.footer-nav:after,.modal-header:after,.modal-content:after,.modal-footer:after,.modal-body-section:after,.table-meta:after,.mod-row:after,.mod-toolbar:after,.card__toolbar:after {
	clear: both
}


html,body,button {
	color: #333;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	-webkit-tap-highlight-color: rgba(255,121,0,0.3);
	-moz-tap-highlight-color: rgba(255,121,0,0.3);
	-ms-tap-highlight-color: rgba(255,121,0,0.3);
	tap-highlight-color: rgba(255,121,0,0.3);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

b,strong {
	font-weight: 700
}

i,em {
	font-style: italic
}

small {
	font-size: 80%
}

sup,.sup,sub,.sub {
	font-size: 60%;
	position: relative;
	vertical-align: top
}

sup,.sup {
	top: 0.25em
}

del,.del {
	text-decoration: line-through;
	text-line-through-color: #bd2527;
	text-line-through-width: 2px;
	text-line-through-style: solid
}

sub,.sub {
	bottom: 0.25em;
	vertical-align: bottom
}

p .ui-item {
	margin: 0 0.4rem;
	vertical-align: baseline
}

ul {
	list-style-type: disc
}

ul.circle {
	list-style-type: circle
}

ul.disc {
	list-style-type: disc
}

ul.square {
	list-style-type: square
}

ol {
	list-style-type: decimal
}

ol.roman {
	list-style-type: lower-roman
}

ol.roman-upper {
	list-style-type: upper-roman
}

ol.alpha {
	list-style-type: lower-alpha
}

ol,ul {
	list-style-position: outside;
	margin-left: 3em
}

ol.unstyled,ul.unstyled,.exceptions-list,.sortable-list {
	list-style-type: none;
	margin-left: 0
}

ol.inline,ol.inline li,ul.inline,ul.inline li {
	display: inline;
	margin: 0
}

a {
	color: #2f7bbf;
	outline: none;
	text-decoration: none;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease
}

a:hover {
	color: #ff7900
}

a:focus {
	color: #62a1d8;
	outline: none
}

a:active {
	color: #112c44;
	outline: none
}

h1,h2,h3,.callout .callout-heading,h4,h5,h6 {
	font-weight: 600
}

h1 small,h2 small,h3 small,.callout .callout-heading small,h4 small {
	color: #7c7c7c;
	font-size: 50%
}

h1,.h1 {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 400
}

h2,.h2 {
	font-size: 1.6rem;
	line-height: 1.3
}

h3,.callout .callout-heading,.h3,.radio-group-jumbo label {
	font-size: 1.46667rem;
	line-height: 1.3
}

h4,.h4,.lead {
	font-size: 1.2rem;
	line-height: 1.3
}

h5,.h5 {
	font-size: 1rem
}

h6,.h6 {
	font-size: 0.93333rem
}

header .subheadline {
	margin-top: 0
}

.small {
	font-size: 0.8em;
	line-height: 1.3
}

.normal {
	font-size: 1rem;
	font-weight: 400
}

p+p,p+ul,p+ol,p+dl,p+table,ul+p,ul+h2,ul+h3,.callout ul+.callout-heading,ul+h4,ul+h5,ul+h6,ol+p,ol+h2,ol+h3,.callout ol+.callout-heading,ol+h4,ol+h5,ol+h6 {
	margin-top: 1.5em
}

h1+p,p+h1,p+h2,p+h3,.callout p+.callout-heading,p+h4,p+h5,p+h6 {
	margin-top: 1.25em
}

h1+h2,h1+h3,.callout h1+.callout-heading,h2+h3,.callout h2+.callout-heading,h3+h4,.callout .callout-heading+h4,h4+h5 {
	margin-top: 0.25em
}

h2+p {
	margin-top: 1em
}

h1+h4,h1+h5,h1+h6,h2+h4,h2+h5,h2+h6,h3+h5,.callout .callout-heading+h5,h3+h6,.callout .callout-heading+h6,h3+p,.callout .callout-heading+p,h4+p,h5+p {
	margin-top: 0.5em
}

.navigation ul {
	list-style: none;
	margin-left: 0
}

.navigation a {
	color: #2f7bbf;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}

.navigation a:hover {
	color: #333
}

.sidebar blockquote {
	font-size: 1.13333rem
}

.sidebar .title {
	color: #787878
}

@media screen and (max-width: 49.2em) {
	.subheadline {
		font-size: 1.26667rem
	}

	.page-header .subheadline {
		display: none
	}
}

.text-splitter {
	display: inline-block;
	width: 1px;
	height: 1em;
	vertical-align: middle;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
	background: #dedede
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#main {
	min-height: 400px
}

img,object {
	height: auto;
	max-width: 100%
}


.width-quarter {
	width: 25%
}

.width-third {
	width: 33.3334%
}

.width-half {
	width: 50%
}

.width-two-thirds {
	width: 66.66667%
}

.width-three-quarters {
	width: 75%
}

.width-full,.mod-group {
	width: 100%
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
    width: 90%;
}

.btn,.btn-cancel,button,input[type="button"],input[type="submit"] {
	background-color: #dedede;
	border: none;
	border-bottom: 1px solid #bababa;
	color: #333;
	cursor: pointer;
	font-size: 0.93333rem;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	padding: 0.6em 1em 0.53333em;
	-webkit-text-stroke: 0;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: subpixel-antialiased
}

.btn:hover,.btn-cancel:hover,.input-picker .picker-list td button.checked-value,button:hover,input[type="button"]:hover,input[type="submit"]:hover {
	background-color: #ccc;
	border-color: #bababa;
	color: #333;
	border-bottom-color: #bababa
}

.btn:focus,.btn-cancel:focus,button:focus,input[type="button"]:focus,input[type="submit"]:focus {
	color: inherit;
	outline: none
}

.btn.active,.active.btn-cancel,.btn:active,.btn-cancel:active,button.active,button:active,input[type="button"].active,input[type="button"]:active,input[type="submit"].active,input[type="submit"]:active {
	background-color: #bababa;
	border-color: #a8a8a8;
	color: #333
}

.btn::-moz-focus-inner,.btn-cancel::-moz-focus-inner,button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner {
	padding: 0;
	border: 0
}

.btn .caret,.btn-cancel .caret,button .caret,input[type="button"] .caret,input[type="submit"] .caret {
	border-top-color: inherit;
	border-top-color: currentColor;
	margin-left: 0.25em;
	margin-top: 0.18333em
}

.btn+.dropdown-toggle,.btn-cancel+.dropdown-toggle,button+.dropdown-toggle,input[type="button"]+.dropdown-toggle,input[type="submit"]+.dropdown-toggle {
	border-left-color: rgba(0,0,0,0.25);
	padding-left: 0.4em;
	padding-right: 0.66667em
}

.btn-large {
	padding: 1rem 1.66667rem 0.93333rem
}

.btn-cta,.btn-cta-alt {
	padding: 1rem 3rem
}

.btn-std,.btn-primary,.btn-std-alt,.btn-primary-alt {
	background-color: #2f7bbf;
	border-color: #2869a2;
	color: #FFF
}

.btn-std:hover,.btn-primary:hover,.btn-std-alt:hover,.btn-primary-alt:hover {
	background-color: #2869a2;
	border-color: #215686;
	color: #FFF
}

.btn-std.active,.btn-std:focus,.btn-std:active,.btn-primary.active,.btn-primary:focus,.btn-primary:active,.btn-std-alt.active,.btn-std-alt:focus,.btn-std-alt:active,.btn-primary-alt.active,.btn-primary-alt:focus,.btn-primary-alt:active {
	background-color: #62a1d8;
	border-color: #62a1d8;
	color: #FFF
}

.btn-cta,.btn-success,.btn-accept,.btn-cancel,.btn-delete,.btn-edit,.btn-note,.btn-cta-alt,.btn-success-alt {
	background-color: #9bca3e;
	border-color: #87b331;
	color: #FFF
}

.btn-cta:hover,.btn-success:hover,.btn-accept:hover,.btn-cancel:hover,.btn-delete:hover,.btn-edit:hover,.btn-note:hover,.btn-cta-alt:hover,.btn-success-alt:hover {
	background-color: #87b331;
	border-color: #729729;
	color: #FFF
}

.btn-cta.active,.btn-cta:focus,.btn-cta:active,.btn-success.active,.active.btn-accept,.active.btn-cancel,.active.btn-delete,.active.btn-edit,.active.btn-note,.btn-success:focus,.btn-accept:focus,.btn-cancel:focus,.btn-delete:focus,.btn-edit:focus,.btn-note:focus,.btn-success:active,.btn-accept:active,.btn-cancel:active,.btn-delete:active,.btn-edit:active,.btn-note:active,.btn-cta-alt.active,.btn-cta-alt:focus,.btn-cta-alt:active,.btn-success-alt.active,.btn-success-alt:focus,.btn-success-alt:active {
	background-color: #bada7a;
	border-color: #acd35e;
	color: #FFF
}

.btn-accept,.btn-cancel,.btn-delete,.btn-edit,.btn-note {
	font-family: 'cloudflare-font';
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-height: 2.425em;
	overflow: hidden;
	padding-left: 1.13333em;
	padding-right: 1.13333em;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 0;
	white-space: nowrap
}

.btn-accept:after,.btn-cancel:after,.btn-delete:after,.btn-edit:after,.btn-note:after {
	content: '\f009';
	display: block;
	font-size: 1em;
	height: 100%;
	position: absolute;
	top: 53%;
	left: 0;
	line-height: 0;
	speak: none;
	text-align: center;
	text-indent: 0;
	width: 100%;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s
}

.btn-accept:before,.btn-cancel:before,.btn-delete:before,.btn-edit:before,.btn-note:before,.btn-accept:after,.btn-cancel:after,.btn-delete:after,.btn-edit:after,.btn-note:after {
	-moz-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease
}

.btn-danger,.btn-cancel,.btn-important,.btn-error,.btn-danger-alt,.btn-important-alt,.btn-error-alt {
	background-color: #bd2527;
	border-color: #9f1f21;
	color: #FFF
}

.btn-danger:hover,.btn-cancel:hover,.btn-important:hover,.btn-error:hover,.btn-danger-alt:hover,.btn-important-alt:hover,.btn-error-alt:hover {
	background-color: #9f1f21;
	border-color: #81191b;
	color: #FFF
}

.btn-danger.active,.active.btn-cancel,.btn-danger:focus,.btn-cancel:focus,.btn-danger:active,.btn-cancel:active,.btn-important.active,.btn-important:focus,.btn-important:active,.btn-error.active,.btn-error:focus,.btn-error:active,.btn-danger-alt.active,.btn-danger-alt:focus,.btn-danger-alt:active,.btn-important-alt.active,.btn-important-alt:focus,.btn-important-alt:active,.btn-error-alt.active,.btn-error-alt:focus,.btn-error-alt:active {
	background-color: #dd5153;
	border-color: #d73436;
	color: #FFF
}

.btn-warning,.btn-warning-alt {
	background-color: #ff7900;
	border-color: #db6800;
	color: #FFF
}

.btn-warning:hover,.btn-warning-alt:hover {
	background-color: #db6800;
	border-color: #b85700;
	color: #FFF
}

.btn-warning.active,.btn-warning:focus,.btn-warning:active,.btn-warning-alt.active,.btn-warning-alt:focus,.btn-warning-alt:active {
	background-color: #ffa14d;
	border-color: #ff8e29;
	color: #FFF
}

.btn-link {
	background-color: transparent;
	border-color: transparent;
	color: #2f7bbf
}

.btn-link:hover {
	background-color: transparent;
	border-color: transparent;
	color: #ff7900
}

.btn-link.active,.btn-link:focus,.btn-link:active {
	background-color: transparent;
	border-color: transparent;
	color: #112c44
}

.btn-cancel:after {
	content: '\f01a'
}

.btn-delete,.btn-edit,.btn-note {
	background-color: #dedede;
	border-color: #ccc;
	color: #333
}

.btn-delete:hover,.btn-edit:hover,.btn-note:hover {
	background-color: #ccc;
	border-color: #bababa;
	color: #333
}

.btn-delete.active,.active.btn-edit,.active.btn-note,.btn-delete:focus,.btn-edit:focus,.btn-note:focus,.btn-delete:active,.btn-edit:active,.btn-note:active {
	background-color: #bababa;
	border-color: #bababa;
	color: #333
}

.btn-delete:after,.btn-edit:after,.btn-note:after {
	content: '\f01a'
}

.btn-edit:after {
	content: '\f019'
}

.btn-note:after {
	content: '\f013'
}

.btn.disabled,.disabled.btn-cancel,.btn.loading,.loading.btn-cancel,button[disabled],input.btn[disabled],input[disabled].btn-cancel {
	cursor: default;
	pointer-events: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5
}

.btn[title].disabled,[title].disabled.btn-cancel,[title].btn.loading,[title].loading.btn-cancel {
	pointer-events: auto
}




.btn.loading,.loading.btn-cancel,.btn.loading:after,.loading.btn-cancel:after,.btn.loading:hover,.loading.btn-cancel:hover,.input-picker .picker-list td button.loading.checked-value {
	color: #ededed
}

.btn.loading:after,.loading.btn-cancel:after {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0
}

input[type="button"].btn,input[type="button"].btn-cancel,input[type="submit"].btn,input[type="submit"].btn-cancel {
	height: auto;
	padding: 0.53333em 1.33333em 0.6em
}

.btn-single-line {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	position: relative
}

.btn-single-line.btn-wicons {
	padding-bottom: 0.6em;
	padding-left: 2em;
	padding-right: 2em
}

.btn-single-line .caret {
	margin-right: -0.6em
}

.btn-single-line .icon:first-child {
	margin-left: -0.6em
}

.btn-single-line .icon:last-child {
	margin-right: -0.6em
}

.btn+.btn,.btn-cancel+.btn,.btn+.btn-cancel,.btn-cancel+.btn-cancel,.btn+.ui-item,.btn-cancel+.ui-item,label+.btn,label+.btn-cancel {
	margin-left: 0.4rem
}

.btn-block {
	display: block;
	margin-bottom: 0.4rem;
	text-align: center
}

.btn-block+.btn-block {
	margin-left: auto
}

.btn a,.btn-cancel a {
	color: #333
}

.btn-std a,.btn-primary a {
	color: #FFF
}

.btn-error a,.btn-danger a,.btn-cancel a,.btn-important a {
	color: #FFF
}

.btn-cta a,.btn-success a,.btn-accept a,.btn-cancel a,.btn-delete a,.btn-edit a,.btn-note a {
	color: #FFF
}

.btn-twitter {
	background-color: #00aced;
	border-color: #00aced;
	color: #FFF
}

.btn-twitter:hover {
	background-color: #21c2ff;
	border-color: #07bbff;
	color: #333
}

.btn-twitter i {
	vertical-align: baseline;
	font-size: 1.33em
}

.btn-facebook {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #FFF
}

.btn-facebook:hover {
	background-color: #4c70ba;
	border-color: #4264aa;
	color: #FFF
}

.btn-facebook i {
	vertical-align: baseline;
	font-size: 1.33em
}


code,pre {
	background-color: #dedede;
	border: 1px solid #d2d2d2;
	font-family: monaco, courier, monospace;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

pre {
	color: #4d4d4d;
	display: block;
	font-size: 0.86667rem;
	margin: 2rem 0;
	overflow: auto;
	padding: 0.5rem;
	width: 100%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

pre code {
	background: none;
	border: none;
	color: inherit;
	display: inherit;
	margin: auto;
	padding: auto
}

code {
	color: #bd2527;
	margin-left: 0.13333em;
	margin-right: 0.13333em;
	padding: 0 0.4em;
	vertical-align: baseline;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}

*:-moz-placeholder {
	color: gray
}

*::-moz-placeholder {
	color: gray
}

*:-ms-input-placeholder {
	color: gray
}

*::-webkit-input-placeholder {
	color: gray
}

legend {
	display: block;
	margin-bottom: 1.5rem;
	width: 100%
}

input,select,textarea,.switch {
	background: #FFF;
	border: 1px solid #bcbcbc;
	color: #333;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 0.86667em;
	line-height: 1.4;
	margin: 0 0 0.75em;
	max-width: 100%;
	outline: none;
	padding: 0.45em 0.75em;
	vertical-align: middle;
	z-index: 0;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

input:hover,select:hover,textarea:hover,.switch:hover {
	border-color: #a3a3a3
}

input:focus,select:focus,textarea:focus,.switch:focus {
	border-color: #2f7bbf;
	outline: none
}

input.readonly,input.disabled,input[disabled],input[readonly],select.readonly,select.disabled,select[disabled],select[readonly],textarea.readonly,textarea.disabled,textarea[disabled],textarea[readonly],.switch.readonly,.switch.disabled,.switch[disabled],.switch[readonly] {
	background-color: #f7f7f7;
	border-color: #c9c9c9;
	color: #7c7c7c;
	cursor: not-allowed
}

select {
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none
}

input.ui-state-error,input.ui-state-invalid {
	border-color: #bd2527;
	color: #bd2527
}

input,select {
	height: 2.26667rem
}

input+label,select+label {
	margin-top: 0.75em
}

select[size],select[multiple] {
	height: auto
}

input[type="radio"],input[type="checkbox"] {
	height: 15px;
	line-height: normal;
	margin: 1px 0 0;
	padding: 0;
	position: relative;
	width: 15px;
	-moz-appearance: none;
	-webkit-appearance: none
}

input[type="radio"]:before,input[type="checkbox"]:before {
	background-color: transparent;
	color: transparent;
	content: '';
	position: absolute;
	-webkit-text-stroke: 0;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-webkit-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out
}

input[type="radio"],input[type="radio"]:before {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

input[type="radio"]:before {
	height: 3px;
	left: 5px;
	top: 5px;
	width: 3px
}

input[type="radio"]:checked:before {
	background-color: #333;
	height: 7px;
	left: 3px;
	top: 3px;
	width: 7px
}

input[type="checkbox"]:before {
	content: '\f009';
	font-family: 'cloudflare-font';
	font-size: 16px;
	left: -1px;
	top: -2px
}

input[type="checkbox"]:checked:before {
	color: #333
}

label {
	display: block;
	font-size: 0.86667rem;
	margin-bottom: 0.38333em
}

.radio,.checkbox {
	cursor: pointer;
	min-height: 1rem;
	padding-left: 2em
}

.radio:hover input,.checkbox:hover input {
	border-color: #a3a3a3
}

.radio input[type="radio"],.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -2em;
	margin-top: 0.13333em
}

.radio.inline,.checkbox.inline {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	margin-bottom: 0;
	padding-top: 0.13333em;
	vertical-align: middle
}

.radio.inline+.inline,.checkbox.inline+.inline {
	margin-left: 0.4rem
}

.input-mini {
	width: 4rem
}

.input-small {
	width: 9.4rem
}

.input-medium {
	width: 17.8rem
}

.input-large {
	width: 26.2rem
}

.input-xlarge {
	width: 34.6rem
}

.input-xxlarge {
	width: 43rem
}






.control-group {
	padding: 0.75em 0;
	position: relative;
	width: 100%;
	clear: left
}

.control-group input,.control-group select,.control-group textarea,.control-group .input-prepend,.control-group .input-append {
	margin-bottom: 0
}

.control-group.info input,.control-group.info select,.control-group.info .select2-container,.control-group.info .select2-choice,.control-group.info .select2-choice div {
	border-color: #2f7bbf;
	color: #333
}

.control-group.info label,.control-group.info .control-label {
	color: #2f7bbf
}

.control-group.info .help-inline,.control-group.info .help-block {
	color: #2f7bbf
}

.control-group.error input,.control-group.error select,.control-group.error .select2-container,.control-group.error .select2-choice,.control-group.error .select2-choice div {
	border-color: #bd2527;
	color: #9f1f21
}

.control-group.error label,.control-group.error .control-label {
	color: #bd2527
}

.control-group.error .help-inline,.control-group.error .help-block {
	color: #bd2527
}

.control-group.success input,.control-group.success select,.control-group.success .select2-container,.control-group.success .select2-choice,.control-group.success .select2-choice div {
	border-color: #9bca3e;
	color: #333
}

.control-group.success label,.control-group.success .control-label {
	color: #87b331
}

.control-group.success .help-inline,.control-group.success .help-block {
	color: #87b331
}

.control-group.warning input,.control-group.warning select,.control-group.warning .select2-container,.control-group.warning .select2-choice,.control-group.warning .select2-choice div {
	border-color: #ff7900;
	color: #db6800
}

.control-group.warning label,.control-group.warning .control-label {
	color: #ff7900
}

.control-group.warning .help-inline,.control-group.warning .help-block {
	color: #ff7900
}

.controls input,.controls select,.controls textarea {
	max-width: 100%
}

.controls .radio:only-child,.controls .checkbox:only-child {
	margin-bottom: 0
}

.controls label,.control-label label {
	line-height: 1.3
}

.input-stacked input,.input-stacked select,.input-stacked textarea,.input-stacked .select2-container {
	display: block;
	margin-bottom: 0
}


.logo {
	width: 210px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999em;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}

.header {
	background-color: #333;
	border-bottom: 1px solid #1a1a1a;
	color: #FFF;
	height: 54px;
	margin: 0 0 1em 0;
	padding: 0;
	position: relative;
	top: 0;
	z-index: 1000
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto
}


.login-form  {
	max-width: 26.2em;
	padding: 2em;
	background-color: white;
	border: 1px solid #dedede;
}

.login-form legend,.forgot-password-form legend,.password-reset-form legend,.signup-form legend,.signup-promotion legend {
	border: 0;
	text-align: center
}

.login-form .form-title,.forgot-password-form .form-title,.password-reset-form .form-title,.signup-form .form-title,.signup-promotion .form-title {
	font-weight: 400
}

.header-main .btn,.header-main .btn-cancel {
	font-size: 0.93333rem
}

.logo-header {
	display: block;
	margin: 9.9px auto
}

.logo-header.logo {
	background: transparent url('../Images/logo_login3.png') center no-repeat;
    background-size: 210px 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
	.logo.logo-header {
	background: transparent url('../Images/logo_login3.png') center no-repeat;
    background-size: 210px 40px;
	}
}

@media screen and (min-width: 980px) {
	.mobile-navigation {
		display: none
	}
    .logo-header {
        float: left;
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 980px;
    }
    #main {
        background: url(../Images/map2.png) no-repeat -150px -20px;
    }
    .login-form {
        margin-right: 10px;
    }
	.header {
		background-color: #FFF;
		border-bottom: 0;
		border-top: 2px solid #ff7900;
		color: #333;
		height: auto;
		margin-bottom: 2.66667rem
	}

	.header a:hover,.header li.active a {
		color: #333
	}

	.header .menu li:hover .sub-menu {
		display: block
	}

	.header-main {
		padding: 0.5rem 0
	}

	.logo.logo-header {
		background: transparent url('../Images/logo_login.png') center no-repeat
	}

	.logo-header {
		margin: 4.95px auto 0
	}
}

@media only screen and (min-width: 49.2em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-wdith: 49.2em) and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (min-wdith: 49.2em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-wdith: 49.2em) and (min-device-pixel-ratio: 1.3), only screen and (min-wdith: 49.2em) and (min-resolution: 1.3dppx) {
	.logo.logo-header {
	background: transparent url('../Images/logo_login3.png') center no-repeat;
    background-size: 210px 40px;
	}
}


.footer {
	background-color: #FFF;
	margin-top: 1.33333rem;
	padding-bottom: 2.33333rem;
	padding-top: 2.33333rem
}



#overlays {
	height: 0;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1500
}





body {
	background-color: #FFF;
}

/*.site-wrapper {
	background-color: #ebebeb
}*/
.site-wrapper {
	background-color: #ebebeb
}

.help-hint {font-size: 12px;color: #f80;margin-top: 5px;}
/*.site-wrapper{background:url(http://cn.mmobar.com/login_theme/images/fu_01.png) repeat;}
   @media screen and (min-width: 980px) {
	#main {background: url(http://cn.mmobar.com/login_theme/images/map2cj.png) no-repeat 0px -15px;min-height:450px;}
   .wrapper {margin-left: auto;margin-right: auto;width: 1200px;}*/


@media screen and (min-width: 980px) {
 #main {background: url(http://cn.mmobar.com/login_theme/images/map2.png) no-repeat 0px 0px;}
 .wrapper {margin-left: auto;margin-right: auto;width: 1100px;}
}
120.27.5.70