<include file="Common/header" />
<script src="__PUBLIC__/js/ckeditor/ckeditor.js"></script>
    <form method="post" id="subForm">
        <div class="page-content">
            <div class="container-fluid">


                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="page-title">添加公告 <small>Change Password</small> </h3>
                        <ul class="breadcrumb">
                            <li><i class="icon-home"></i><a href="../Default.aspx">Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="News.aspx">网站公告</a><i class="icon-angle-right"></i></li>
                            <li><a href="AddAnnouncement.aspx">添加公告</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tabbable tabbable-custom tabbable-full-width">
                    <div class="tab-content">
                        <div class="tab-pane row-fluid active" id="tab_1_1">
                            <div class="span9">
                                <div class="portlet box ">
                                    <div class="portlet-body form-horizontal">
                                        <table cellspacing="0" id="ContentPlaceHolder1_FormView1" style="border-collapse:collapse;">
                                            <tr>
                                                <td colspan="2">
                                                    <div class="control-group">
                                                        <label class="control-label">标题</label>
                                                        <div class="controls input-icon">
                                                            <input name="title" type="text" id="title" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">内容</label>
                                                        <div class="controls input-icon">
                                            <textarea name="content" rows="2" cols="20" id="content" class="form-control  ckeditor"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">是否在首页显示</label>
                                                        <div class="controls input-icon">
                                                            <span class="form-control"><input id="is_show" type="checkbox" name="is_show" value="1"/></span>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <div class="controls input-icon">
                                                            <a id="subButton" class="btn btn-success" href="javascript:void(0);">添加</a>
                                                            &nbsp;<input type="reset" value="取消" class="btn btn-warning"/>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<script type="text/javascript">
    $(function(){
        $('#subButton').click(function(){
            var content = CKEDITOR.instances.content.getData();
            $('#content').text(content);
            $.post('/exchange/newsAdd', $('#subForm').serialize(), function(data){
                if (data.ret)
                {
                    alert('添加成功');
                    window.location.href = '/exchange/news';
                }
                else
                {
                    alert(data.msg);
                }
            }, 'json');
        })
    })
</script>
<include file="Common/foot" />
