<include file="Common/header" />
<script type="text/javascript">
    $(function(){
        $('#cupdate').click(function(){
            $("#ctl01").submit();
            $.post('/user/update', $("#ctl01").serialize(),function(data){
                if(data.ret)
                {
                    window.location.reload();
                }
                else
                {
                    alert(data.msg);
                }
            },'json');
        })
    })
</script>
    <!-- END SIDEBAR -->
    <form method="post" action="" id="ctl01">
        <input type="hidden" name="uid" value="{$info.id}">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="page-title">修改资料 <small>Change Password</small> </h3>
                        <ul class="breadcrumb">
                            <li><i class="icon-home"></i><a href="/">Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">修改资料</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tabbable tabbable-custom tabbable-full-width">
                    <div class="tab-content">
                        <div class="tab-pane row-fluid active" id="tab_1_1">
                            <div class="alert alert-error"><strong>系统提示：</strong> 申请完成后，请等待系统分配受善需求。</div>
                            <div class="span9">
                                <div class="portlet box ">
                                    <div class="portlet-body form-horizontal">

                                        <table cellspacing="0" id="ContentPlaceHolder1_FormView1" style="border-collapse:collapse;">
                                            <tr>
                                                <td colspan="2">
                                                    <div class="control-group">
                                                        <label class="control-label">真实姓名</label>
                                                        <div class="controls input-icon">
                                                            <input name="realName" type="text" value="{$info.realname}" id="realName" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">手机号码</label>
                                                        <div class="controls input-icon">
                                                            <input name="phone" type="text" value="{$info.phone}" id="phone" class="form-control" />
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label"><font color="red">推荐人</font></label>
                                                        <div class="controls input-icon">
                                                            <input name="pidName" type="text" value="{$info.pidname}" readonly="readonly" id="pidName" class="form-control" />
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">一级密码</label>
                                                        <div class="controls input-icon">
                                                            <input name="password" type="text" value="{$info.password}" id="password" class="form-control" />
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">支付密码</label>
                                                        <div class="controls input-icon">
                                                            <input name="pay_pass" type="text" value="{$info.pay_pass}" id="pay_pass" class="form-control" />
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">微信号</label>
                                                        <div class="controls input-icon">
                                                            <input name="weixin" type="text" id="weixin" class="form-control" value="{$info.weixin}"/>
                                                            <span class="help-block m-b-none">想以微信钱包汇款或接款，请输入你的微信号</span>
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">QQ</label>
                                                        <div class="controls input-icon">
                                                            <input name="qq" type="text" id="qq" class="form-control" value="{$info.qq}"/>
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">支付宝</label>
                                                        <div class="controls input-icon">
                                                            <input name="alipay" type="text" id="alipay" class="form-control" value="{$info.alipay}"/>
                                                        </div>

                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">银行卡</label>
                                                        <div class="controls input-icon">
                                                            <input name="bankNO" type="text" id="bankNO" class="form-control" value="{$info.bankno}"/>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">银行名称</label>
                                                        <div class="controls input-icon">
                                                            <input name="bank_name" type="text" id="bank_name" class="form-control" value="{$info.bank_name}"/>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">地址</label>
                                                        <div class="controls input-icon">
                                                            <input name="address" type="text" id="address" class="form-control" value="{$info.address}"/>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <div class="controls input-icon">
                                                            <a id="cupdate" class="btn btn-success" href="javascript:void(0);">更新</a>
                                                            <a id="" class="btn btn-warning" href="javascript:void(0);">取消</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<include file="Common/foot" />